<?xml version="1.0" ?>
<launch>

    <!-- VIDEO SOURCE -->
	<arg name="input" default="csi://0"/>
	<arg name="input_width" default="0"/>
	<arg name="input_height" default="0"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>

	<include file="$(find ros_deep_learning)/launch/video_source.ros1.launch">
		<arg name="input" value="$(arg input)"/>
		<arg name="input_width" value="$(arg input_width)"/>
		<arg name="input_height" value="$(arg input_height)"/>
		<arg name="input_codec" value="$(arg input_codec)"/>
		<arg name="input_loop" value="$(arg input_loop)"/>
	</include>
    
    <rosparam file = "$(find seguidor)/config/path_params.yaml" command = "load"  />
    <rosparam file = "$(find seguidor)/config/trayectory_params.yaml" command = "load"  />
    <node name="control" pkg="seguidor" type="control.py" output="screen"/>
    <!-- <node name="path_generator" pkg="semaforo" type="path_generator.py" output="screen"/>     -->
    <node name="circle_detection" pkg="seguidor" type="circle_detection.py" output="screen"/>
    <node name="line_follower" pkg="seguidor" type="line_follower.py" output="screen"/>

</launch>
